---
apiVersion: v1
kind: Pod
metadata:
  name: kafka-test-client
  namespace: default
spec:
  containers:
    - name: kafka
      image: confluentinc/cp-kafka:5.0.1
      command:
        - sh
        - -c
        - "exec tail -f /dev/null"
