{
  "CN": "{{ tls.etcd_common_name }}",
  "hosts": [
{% if advertise_format == "fqdn" %}
    {% for host in members %}
    "{{ hostvars[host]['fqdn']}}",
    {% endfor %}
    "localhost"
{% else %}
    {% for host in members %}
    "{{ hostvars[host]['ip']}}",
    {% endfor %}
    "127.0.0.1"
{% endif %}
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "O": "Etcd",
      "OU": "Etcd",
      "L": "London"
    }
  ]
}
