[OSEv3:children]
nodes
masters
etcd

[OSEv3:vars]
openshift_storage_glusterfs_block_storageclass=True
openshift_master_cluster_public_hostname=storageos-1
ansible_ssh_user=root
deployment_type=origin
openshift_release=3.7
openshift_master_manage_htpasswd=True
os_firewall_use_firewalld=True
openshift_disable_check=disk_availability,memory_availability,package_version

# 3.9:
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/htpasswd'}]

openshift_set_node_ip=True

[masters]
storageos-1  ansible_connection=local openshift_ip=172.28.128.3 openshift_hostname=storageos-3

[etcd]
storageos-1  ansible_connection=local openshift_ip=172.28.128.3
 
[nodes]
storageos-1 openshift_node_labels="{'region': 'infra'}" openshift_schedulable=True ansible_connection=local openshift_ip=172.28.128.3 openshift_hostname=storageos-1
storageos-2 openshift_node_labels="{'region': 'infra'}" openshift_schedulable=True  openshift_ip=172.28.128.4 openshift_hostname=storageos-2
storageos-3 openshift_node_labels="{'region': 'infra'}" openshift_schedulable=True openshift_ip=172.28.128.5 openshift_hostname=storageos-3

[storageos]
storageos-1 openshift_ip=172.28.128.3
storageos-2 openshift_ip=172.28.128.4
storageos-3 openshift_ip=172.28.128.5
