{
  "CN": "{{ tls.ca_common_name }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "O": "Etcd",
      "OU": "Etcd",
      "L": "London",
      "ST": "London",
      "C": "UK"
    }
  ]
}
