# /etc/systemd/system/storageos.service
[Unit]
Description=StorageOS
Wants=network-online.target
After=network-online.target
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/default/storageos
ExecStartPre=-/usr/bin/docker kill storageos
ExecStartPre=-/usr/bin/docker rm storageos
ExecStartPre=/usr/bin/docker pull storageos/node:1.1.4
ExecStart=/usr/bin/docker run --name storageos -e DISABLE_TELEMETRY=true -e HOSTNAME -e ADVERTISE_IP -e JOIN --net=host --pid=host --privileged --cap-add SYS_ADMIN --device /dev/fuse -v /var/lib/storageos:/var/lib/storageos:rshared -v /run/docker/plugins:/run/docker/plugins -v /sys:/sys storageos/node:1.1.4 server
ExecStop=/usr/bin/docker stop storageos

[Install]
WantedBy=default.target
