[Unit]
Description=etcd
Documentation=https://github.com/coreos/etcd
Conflicts=etcd2.service

[Service]
Type=notify
Restart=always
RestartSec=5s
LimitNOFILE=40000
TimeoutStartSec=0

ExecStart=/usr/local/sbin/etcd3 --name etcd-{{ hostvars[inventory_hostname]['inventory_hostname'] }} \
        --data-dir {{ installation_dir }} \
{% if mtls == 'enabled' %}
        --peer-client-cert-auth=true \
        --peer-trusted-ca-file=/etc/etcdtls/member/peer-tls/peer-ca.crt \
        --peer-cert-file=/etc/etcdtls/member/peer-tls/peer.crt \
        --peer-key-file=/etc/etcdtls/member/peer-tls/peer.key \
        --client-cert-auth=true \
        --trusted-ca-file=/etc/etcdtls/member/server-tls/server-ca.crt \
        --cert-file=/etc/etcdtls/member/server-tls/server.crt \
        --key-file=/etc/etcdtls/member/server-tls/server.key \
        --listen-client-urls https://0.0.0.0:{{ etcd_port_client }} \
        --advertise-client-urls https://{{ hostvars[inventory_hostname]['ip'] }}:{{ etcd_port_client }} \
        --listen-peer-urls https://0.0.0.0:{{ etcd_port_peers }} \
        --initial-advertise-peer-urls https://{{ hostvars[inventory_hostname]['ip'] }}:{{ etcd_port_peers }} \
        --initial-cluster \
{% for host in members %}etcd-{{ hostvars[host].inventory_hostname}}=https://{{ hostvars[host].ip}}:{{etcd_port_peers}}{{ '' if loop.last else ','}}{% endfor %}
{% else %}
        --listen-client-urls http://0.0.0.0:{{ etcd_port_client }} \
        --advertise-client-urls http://{{ hostvars[inventory_hostname]['ip'] }}:{{ etcd_port_client }} \
        --listen-peer-urls http://0.0.0.0:{{ etcd_port_peers }} \
        --initial-advertise-peer-urls http://{{ hostvars[inventory_hostname]['ip'] }}:{{ etcd_port_peers }} \
        --initial-cluster \
{% for host in members %}etcd-{{ hostvars[host].inventory_hostname}}=http://{{ hostvars[host].ip}}:{{etcd_port_peers}}{{ '' if loop.last else ','}}{% endfor %}
{% endif %}
        --quota-backend-bytes {{ etcd_quota_bytes }} \
        --auto-compaction-retention {{  etcd_auto_compaction_retention }} \
        --auto-compaction-mode {{  etcd_auto_compaction_mode }} \
        --initial-cluster-token my-etcd-token \
        --initial-cluster-state new

[Install]
WantedBy=multi-user.target
