# /etc/systemd/system/storageos.service
[Unit]
Description=StorageOS
Wants=network-online.target
After=network-online.target
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/default/storageos
ExecStartPre=-/usr/bin/docker kill storageos
ExecStartPre=-/usr/bin/docker rm storageos
ExecStartPre=/usr/bin/docker pull {{ repo }}:{{ version }}
{% if etcd.type != 'embedded' %}
ExecStart=/usr/bin/docker run --name storageos -e DISABLE_TELEMETRY=true -e HOSTNAME -e ADVERTISE_IP -e JOIN -e KV_BACKEND -e KV_ADDR --net=host --pid=host --privileged --cap-add SYS_ADMIN --device /dev/fuse -v /var/lib/storageos:/var/lib/storageos:rshared -v /run/docker/plugins:/run/docker/plugins -v /sys:/sys {{ repo }}:{{ version }} server
{% else %}
ExecStart=/usr/bin/docker run --name storageos -e DISABLE_TELEMETRY=true -e HOSTNAME -e ADVERTISE_IP -e JOIN -e KV_BACKEND --net=host --pid=host --privileged --cap-add SYS_ADMIN --device /dev/fuse -v /var/lib/storageos:/var/lib/storageos:rshared -v /run/docker/plugins:/run/docker/plugins -v /sys:/sys {{ repo }}:{{ version }} server
{% endif %}
ExecStop=/usr/bin/docker stop storageos

[Install]
WantedBy=default.target
